/* . = class, # = id */
.dropdown { /*Used by the dropdown information boxes*/
    background-color: palegreen;
    color:green; 
    font-size: 30px; 
    text-align: left; 
    border-radius: 10px;
    width: 100%;
    border: 5px solid lightgreen;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 3px;
    transition: all 0.2s ease-out;
}

.dropdown:hover { /*Changes the color of the dropdown information boxes when the user hovers over it*/
    color: darkgreen;
    background-color:#e0d7c6;
    border: 5px solid #e0d7c6;
    transition: all 0.2s ease-out;
}

.info { /*Used by the information that appears after clicking on the dropdown boxes*/
    display: none;
    font-size: 20px;
    color: green;
    background-color: rgb(251, 230, 202);
    text-align: left;
    margin: auto;
    border: 10px solid rgb(251, 230, 202);
}

.output {
    display:none;
    margin: auto;
    margin-top: 10px;
    background-color: rgb(216, 252, 216);
    border-radius: 20px;
    padding: 2%;
    color:darkgreen;
    font-size:40px;
    text-align:center;
}

.funfactsinfo { /*Used by the text that appears after calculations*/
    display: none;
    margin: auto;
    margin-top: 10px;
    background-color: antiquewhite;
    padding: 2%;
    color:darkgreen;
    font-size: 30px;
    text-align: center;
}

.funfacts { /*Used by the text that needs to change from the function*/
    display: none;
    margin: auto;
    margin-top: 0px;
    background-color: antiquewhite;
    padding: 2%;
    color:darkgreen;
    font-size: 80px;
    text-align: center;
}

div { /*sets the default font to be Arial*/
    font-family: Arial;
}

body { /*Sets the background for the page to be light blue*/
    background-image: url("./forest.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 { /*Used by the central large title */
    font-family: Arial;
    color: darkgreen; 
    font-size: 60px; 
    text-align: center;
    margin-bottom: 50px
}

h2 { /*Used by subheadings within the beige body box*/
    color: darkgreen; 
    font-size: 40px; 
    text-align: left;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 10px;
}

#top { /* used by the button that takes you back up*/
    color: darkgreen; 
    font-size: 20px; 
    text-align: center;
    background-color: lightblue;
    position: fixed;
    bottom: 20px;
    right: 30px;
    cursor: pointer;
    padding: 10px;
    border-width: 2px;
    border-color: rgb(148, 184, 196) 
}

.center { /*Used by the central*/
    background-color: antiquewhite;
    width: 60%;
    border-radius: 10px;
    margin: auto;
    padding: 3%;
}

input { /*Used for the input box for miles traveled*/
    font-size: 20px;
}

option { /*Uses the same font size as the select box*/
    font-size: inherit;
}

.calculatorbox { /*Used for the light green box that surrounds the calculator*/
    margin: auto;
    margin-top: 10px;
    background-color: rgb(216, 252, 216);
    border-radius: 20px;
    padding: 2%;
}

.CEsubmit { /*Used by the button to submit inputs*/
    background-color: lightgreen;
    font-size: 50px;
    width: 90%;
    border: 0px;
    border-radius: 5px;
    margin: auto;
    margin-top: 2%;
    cursor: pointer;
    padding: 1%;
    display: block;
    text-align: center;
}

.CEsubmit:hover {
    background-color:#a9dda2;
    transition: all 0.2s ease-out;
}

#miles { /*TODO: Center this*/
    display: block; 
    margin: auto;
    margin-top: 10px;
    width: 100%;

    color: green;
    font-size: 64px;
    font-weight: 600;
    text-align: center;

    border: 0;
    
    background-color: #ffffff;

}

#vehicle {
    display: block; 
    margin: auto;
    font-size: 30px;
    border: 0;
    border-radius: 5px;
    color: darkgreen;
}

#travel {
    text-align: center;
    font-size: 30px;
    margin: 2.5%;
}

#map {
    width: 100%;
    height: 500px;
}

.pac-card {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
  }

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }
  
.pac-controls label {
    font-size: 13px;
    font-weight: 300;
  }

#place-picker {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem 1rem 1rem;
  }

#set { /*Used by the button to submit inputs*/
    background-color: lightgreen;
    font-size: 24px;
    width: 90%;
    border: 0px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 2%;
    cursor: pointer;
    padding: 1%;
    display: block;
    text-align: center;
}
